/*Sets the page background color.*/
body {
    background-color: #20572b;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*Contains the logo and navigation links. It has a fixed position so that it will remain at the top of the screen, ensuring navigability no matter how far down the user scrolls. Its contents default to display a dropdown button for screens of a small width; this to improve load speed on mobile devices.*/
.banner {
    position: fixed;
    display: grid;
    grid-template-columns: 249px, 1fr;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    padding-left: 20px;
    padding-top: 2px;
    padding-right: 40px;
    padding-bottom: 2px;
    box-shadow: 0px 0px 10px black;
    background-color: #F8F8C8;
}

/*Container holding buttons for wide displays should be hidden.*/
.navButtonCont {
    display: none;
}

/*Container holding dropdown menu button should be visible.*/
#navMenu {
    grid-column-start: 2;
    grid-column-end: 3;
    position: relative;
    display: inline-block;
    justify-self: end;
    align-self: center;
    height: 50px;
    width: 50px;
    margin-right: 30px;
}

/*Contains the dropButton to a reasonable size.*/
#navMenuToggle {
    max-height: 50px;
    max-width: 50px;
}

/*Sets the dropdown button's default properties.*/
#dropButton {
    align-self: center;
    justify-self: center;
    border: none;
    border-radius: 4px;
    background-color: #F8F8C8;
    transition: background-color 0.2s;
}

/*Sets the dropdown button's properties when hovered over or focused*/
#dropButton:hover {
    background-color: #C7D5CA;
    transition: background-color 0.2s;
}

/*Hides navigation menu by default.*/
.closedMenuCont {
    display: none;
}

/*Shows navigation menu when dropButton input is clicked, and sets the appearance of the dropdown list*/
.openedMenuCont {
    position: relative;
    display: grid;
    right: 240px;
    background-color: #20572b;
    min-width: 300px;
    box-shadow: 0px 0px 10px black;
}

/*Sets appearance of link buttons in the dropdown menu.*/
.menuButton {
    font-size: 30px;
    color: #F8F8C8;
    padding: 10px;
    display: block;
    background-color: #20572b;
    border: none;
    transition: background-color 0.2s, color 0.2s, font-size 0.2s, text-shadow 0.2s;
}

/*Changes the appearance of the dropdown menu link for hidden-features.html to indicate that it's the current viewed page.*/
#featMenuBtn {
    color: #C7D5CA;
}

/*Changes appearance of <a> tags when hovered over by user.*/
.openedMenuCont>.menuButton:hover {
    color: #20572b;
    background-color: #C7D5CA;
    font-size: 34px;
}

/*This is the div where the page's content will be placed.*/
.containerVis {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    border: 0px solid;
    border-radius: 10px 10px;
    z-index: 1;
    margin-top: 110px;
    /*This is a large value to prevent the banner from overlapping the Container div when the user is at the top of the page.*/
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 95vw;
    width: fit-content;
    padding: 1px 20px 20px 20px;
    box-shadow: 0px 0px 10px black;
    background-color: #C7D5CA;
    text-align: center;
}

.containerHide {
    display: none;
}

/*Sets the style for content.*/
.contFeatures {
    width: 80%;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fit, 300px);
    color: #FFFFFF;
    text-align: center;
    margin-left: 1px;
    margin-right: 1px;
}

.imgCont {
    min-width: 240px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #102B16;
    padding: 10px;
    border-radius: 10px 10px;
    box-shadow: 0px 0px 10px black;
    object-fit: cover;
}


/*Handles image styles for content.*/
.hidImg {
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    min-width: 200px;
    max-width: 50%;
    min-height: 200px;
    max-height: 50vh;
    object-fit: cover;
    overflow: hidden;
    box-shadow: 0px 0px 10px black;
    border: 5px solid black;
    border-radius: 10px 10px;
}

.imgContOverlayHidden {
    display: none;
}

.imgContOverlayRevealed {
    display: relative;
    z-index: 3;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    margin: auto;
    justify-self: center;
    background-color: #000000DD;
    border: 1px solid #000000DD;
}



.overlayHold {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
    overflow-y: auto;
}

.contHold>p {
    max-width: 500px;
    margin: 20px auto;
    text-align: center;
    font-size: 18px;
}

.showImg {
    margin-top: 30px;
    max-height: 600px;
    position: relative;
    border: 5px solid black;
    box-shadow: 0px 0px 15px black;
    border-radius: 10px 10px;
}

.contHold {
    display: table-cell;
    margin-top: 10px;
    padding: 0px;
    vertical-align: middle;
    text-align: center;
    z-index: 4;
    position: relative;
    min-height: 400px;
    overflow-y: auto;
}



.closeIcon {
    float: right;
    background-image: url("/images/litYelClose.svg");
    width: 30px;
    height: 30px;
    margin: 30px;
    z-index: 5;
    border: none;
    background-size: cover;
    background-color: #FFFFFF00;
    position: static;
}


.imgCont>img {
    max-height: 20vh;
}

.showImg {
    position: relative;
    max-width: 400px;
    min-width: 30%;
    object-fit: contain;
}

/*This makes the pages' style properties start snugly in the top left corner.*/
.main {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
}


/*Media Query that checks if the page is greater than 900 pixels wide, and changes the layout for desktop environments if that is the case.*/
@media screen and (min-width: 1001px) {

    /*Contains the logo and navigation links. It has a fixed position so that it will remain at the top of the screen, ensuring navigability no matter how far down the user scrolls.*/
    .banner {
        position: fixed;
        display: grid;
        grid-template-columns: 265px 1fr;
        grid-template-rows: 1;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        padding-left: 20px;
        padding-top: 2px;
        padding-right: 40px;
        padding-bottom: 2px;
        box-shadow: 0px 0px 10px black;
        background-color: #F8F8C8;
    }

    /*Sets h1 position in the banner grid.*/
    h1>.banner {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    /*Hides the dropdown menu button when the screen is wide enough to fit the standalone buttons.*/
    #navMenu {
        display: none;
    }

    /*Sets the grid position of the navButtonCont div, establishes an inline-grid for the buttons themselves, and forces a margin on the right side of the div.*/
    .navButtonCont {
        grid-column-start: 2;
        grid-column-end: 3;
        display: inline-grid;
        grid-template-columns: repeat(5, 1fr);
        margin-right: 40px;
    }

    /*Sets the navButton style*/
    .navButton {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #F8F8C8;
        font-size: 24px;
        width: 1fr;
        padding: 5px;
        margin: 5px;
        border: none;
        text-shadow: none;
        white-space: nowrap;
        text-overflow: ellipse;
        transition: color 0.2s, font-size 0.2s, text-shadow 0.2s;
    }

    /*Changes the appearance of the banner link to hidden-features.html to indicate that it's the current viewed page.*/
    #featBtn {
        color: #C7D5CA;
    }

    /*Changes navButton properties when the user hovers over navigation buttons.*/
    .navButton:hover {
        font-size: 26px;
        text-shadow: 0px 0px 10px #20572b, 0px 0px 5px #20572b;
        color: #FFFFFF;
    }

    /*This is the div where the page's content will be placed.*/
    .containerVis {
        position: relative;
        display: flex;
        flex-direction: column;
        border-radius: 10px 10px;
        z-index: 1;
        margin-top: 110px;
        /*This is a large value to prevent the banner from overlapping the Container div when the user is at the top of the page.*/
        margin-bottom: 40px;
        margin-left: 10px;
        margin-right: 10px;
        max-width: 1000px;
        padding: 1px 20px 20px 20px;
        box-shadow: 0px 0px 10px black;
        background-color: #C7D5CA;
        text-align: center;
    }

    .containerHide {
        display: none;
    }

    /*Sets the style for content.*/
    .contFeatures {
        width: 100%;
        display: grid;
        grid-auto-flow: column;
        grid-gap: 25px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        color: #FFFFFF;
        justify-self: center;
    }

    .imgCont {
        display: block;
        text-align: center;
        background-color: #102B16;
        padding: 10px;
        border-radius: 10px 10px;
        box-shadow: 0px 0px 10px black;
        object-fit: cover;
    }


    /*Handles image styles for content.*/
    .hidImg {
        width: 500px;
        height: 500px;
        box-shadow: 0px 0px 10px black;
        border: 5px solid black;
        border-radius: 10px 10px;
    }



    .imgContOverlayHidden {
        display: none;
    }

    .imgContOverlayRevealed {
        display: relative;
        z-index: 3;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        color: #FFFFFF;
        margin: auto;
        justify-self: center;
        background-color: #000000DD;
        border: 1px solid #000000DD;
    }

    .overlayHold {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0px;

    }

    .contHold>p {
        max-width: 500px;
        margin: 20px auto;
        text-align: center;
        font-size: 18px;
    }

    .showImg {
        max-height: 80vh;
        border: 5px solid black;
        box-shadow: 0px 0px 15px black;
        border-radius: 10px 10px;
        max-width: 600px;
        min-width: 30%;
        object-fit: contain;
    }


    .contHold {
        display: table-cell;
        margin: 0px;
        padding: 0px;
        vertical-align: middle;
        text-align: center;
    }



    .closeIcon {
        float: right;
        background-image: url("/images/litYelClose.svg");
        width: 30px;
        height: 30px;
        margin: 30px;
        z-index: 4;
        border: none;
        background-size: cover;
        background-color: #FFFFFF00;
    }



    /*This makes the pages' style properties start snugly in the top left corner.*/
    .main {
        position: absolute;
        display: flex;
        justify-content: center;
        top: 0;
        left: 0;
        width: 100%;
    }

}