body {
    background-color: rgb(226, 226, 189);
}

/*Contains the logo and navigation links. It has a fixed position so that it will remain at the top of the screen, ensuring navigability no matter how far down the user scrolls. Its contents default to display a dropdown button for screens of a small width; this to improve load speed on mobile devices.*/
.banner {
    position: fixed;
    display: grid;
    grid-template-columns: 249px, 1fr;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    padding-left: 20px;
    padding-top: 2px;
    padding-right: 40px;
    padding-bottom: 2px;
    box-shadow: 0px 0px 10px black;
    background-color: #F8F8C8;
}

/*Container holding buttons for wide displays should be hidden.*/
.navButtonCont {
    display: none;
}

/*Container holding dropdown menu button should be visible.*/
#navMenu {
    grid-column-start: 2;
    grid-column-end: 3;
    position: relative;
    display: inline-block;
    justify-self: end;
    align-self: center;
    height: 50px;
    width: 50px;
    margin-right: 30px;
}

/*Contains the dropButton to a reasonable size.*/
#navMenuToggle {
    max-height: 50px;
    max-width: 50px;
}

/*Sets the dropdown button's default properties.*/
#dropButton {
    align-self: center;
    justify-self: center;
    border: none;
    border-radius: 4px;
    background-color: #F8F8C8;
    transition: background-color 0.2s;
}

/*Sets the dropdown button's properties when hovered over or focused*/
#dropButton:hover {
    background-color: #C7D5CA;
    transition: background-color 0.2s;
}


/*Hides navigation menu by default.*/
.closedMenuCont {display: none;}


/*Shows navigation menu when dropButton input is clicked, and sets the appearance of the dropdown list*/
.openedMenuCont {
    position: relative;
    display: grid;
    right: 240px;
    background-color: #20572b;
    min-width: 300px;
    box-shadow: 0px 0px 10px black;}

/*Sets appearance of link buttons in the dropdown menu.*/
 .menuButton {
    font-size: 30px;
    color:#F8F8C8;
    padding: 10px;
    display: block;
    background-color:#20572b;
    border: none;
    transition: background-color 0.2s, color 0.2s, font-size 0.2s, text-shadow 0.2s;
}

/*Changes appearance of <a> tags when hovered over by user.*/
.openedMenuCont > .menuButton:hover {
    color: #20572b;
    background-color: #C7D5CA;
    font-size: 34px;
}

/*-------------------------------------------------------------------------------------*/

.image-container {
    display: block;
    background-color: lightgreen;
    grid-template-columns: auto auto auto;
    column-gap: 200px;
    row-gap: 50px;
    text-align: center;
    padding: 35px;
    font-size: 30px;
    
    
}


.child-container{

    display: block;
    background-color: rgb(203, 219, 204);
    grid-template-columns: auto auto auto;
    column-gap: 400px;
    row-gap: 50px;
    text-align: center;
    padding: 25px;
    font-size: 30px;
}


h1 {
    text-align: center;
    font-style: normal;
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


p {
    font-weight: 100;
    text-align: center;
    font-size: 23px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


h3 {
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    border: 5px solid #a7bdab;
}

img:hover {
    filter: grayscale(100%);
    invert:(100%);
}


.read-more {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 15px;
}


.read-more:hover {
    background-color: green;
    border-color: black;
    color: white;
    cursor: pointer;
}
   
/*-------------------------------------------------------------------------------------*/



.banner {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    padding-left: 40px;
    padding-top: 2px;
    padding-right: 40px;
    padding-bottom: 2px;
    box-shadow: 0px 0px 10px black;
    background-color: #F8F8C8;


}


.navButton {
    background-color: #F8F8C8;
    font-size: 24px;
    height: 100%;
    align-self: center;
    width: 1fr;
    padding: 5px;
    margin: 5px;
    border: none;
    text-shadow: none;
    transition: color 0.2s, font-size 0.2s, text-shadow 0.2s;


}


.navButton:hover {
    font-size: 26px;
    text-shadow: 0px 0px 10px #20572b, 0px 0px 5px #20572b;
    color: #FFFFFF;
}


.image-container {
    position: relative;
    border: 0px solid;
    border-radius: 10px 10px;
    justify-self: center;
    z-index: 1;
    margin-top: 110px;
    /*This is a large value to prevent the banner from overlapping when the user is at the top of the page.*/
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    padding: 1px 20px 1px 20px;
    box-shadow: 0px 0px 10px black;
    background-color: #C7D5CA;
    max-height: fit-content;


} 

@media screen and (min-width: 1001px){
    /*Contains the logo and navigation links. It has a fixed position so that it will remain at the top of the screen, ensuring navigability no matter how far down the user scrolls.*/

.banner {
    position: fixed;
    display: grid;
    grid-template-columns: 249px 1fr;
    grid-template-rows: 1;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    padding-left: 20px;
    padding-top: 2px;
    padding-right: 40px;
    padding-bottom: 2px;
    box-shadow: 0px 0px 10px black;
    background-color: #F8F8C8;
}

/*Sets h1 position in the banner grid.*/
h1 > .banner {
    grid-column-start: 1;
    grid-column-end: 2;
}

/*Hides the dropdown menu button when the screen is wide enough to fit the standalone buttons.*/
#navMenu {
    display: none;
}

/*Sets the grid position of the navButtonCont div, establishes an inline-grid for the buttons themselves, and forces a margin on the right side of the div.*/
.navButtonCont {
    grid-column-start: 2;
    grid-column-end: 3;
    display: inline-grid;
    grid-template-columns: repeat(5, 1fr);
    margin-right: 40px;
}

/*Sets the navButton style*/
.navButton {
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F8F8C8;
    font-size: 24px;
    width: 1fr;
    padding: 5px;
    margin: 5px;
    border: none;
    text-shadow: none;
    white-space: nowrap;
    text-overflow: ellipse;
    transition: color 0.2s, font-size 0.2s, text-shadow 0.2s;
}

/*Changes navButton properties when the user hovers over navigation buttons.*/
.navButton:hover {
    font-size: 26px;
    text-shadow: 0px 0px 10px #20572b, 0px 0px 5px #20572b;
    color: #FFFFFF;
}
    .image-container {


      width: 100%;
    }
}






















