
/*                SHOP NAVIGATION SECTION                   */
.shopFlex {
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-around;

}

/*      THIS IS THE CONTAINER FOR PRODUCT INFORMATION         */
.products {       
    font-size: 100px;
    padding-bottom: 50px;
    align-content: center;
    text-align: center;
}

.polaroid {
   /* width: 30%;
    height:10%; */
    display:flex-wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top:20px; 
    margin-bottom:20px;
    background-color: #d6e6da;
    align-content: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }


.price {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:small;
    text-align: center;
    color:darkgreen;
}


/*                  STYLE FOR THE PRODUCT IMAGES               */
a > img {
    width: 200px;
    margin: 10px;
   /* border:2px solid #dddddd; */
   /* border-radius: 4px; */
   /* padding: 5px;*/
    padding-left: 20px;
    padding-right: 20px;
}

img:hover {
    box-shadow: 2px 2px 5px 0px rgba(73, 73, 73, 0.5)     /*  right bottom blur border   */
}


/*   NOT WORKING - HOW TO REMOVE THE WHITE BACKGROUND SQUARE IN A ZOOMED IN IMAGE     */

/*
a > href {
    width: 200px;
}
*/

/*                 STYLE FOR THE ADD TO CART BUTTON             */
.cartBtn {
    background-color: darkgreen;
    color: white;    
    /*box-shadow: 0px 1px 2px 1px gray;     offset(right) offset(bottom) blur  */
    transition-duration:0.4s;

}

/*            HOVER STYLE FOR THE ADD TO CART BUTTON              */
.btn:hover {
    background-color: rgb(0, 133, 0);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.24),  0 2px 5px 0 rgb(0, 56, 0) ;
}

/*
div > img{
    width: 500px;
   /* margin: 10px;
    padding-left: 50px;
    padding-right: 50px;
}*/
 
/*           STYLES FOR THE VARIOUS HEADERS IN THE STORE            */
.h1Store {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.h2Store {
    text-align: center;    
    padding-bottom: 0px;    
}

.h3Store {
    text-align: center;
    padding-bottom:20px;
}

/*          STYLES FOR THE PRODUCT CAPTIONS AND PRICES             */
.h5Store {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:small;
    text-align: center;
    white-space:wrap;
}